<configuration>
    !-- custom coloring conversion -->
    <conversionRule conversionWord="highlightex" converterClass="util.logger.HighlightingCompositeConverterEx" />

    <appender name="STDOUT_info" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ssZ}] %highlightex([%level]) [%c{0}] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT_info" />
    </root>

</configuration>